<section>
    <button class="blog">
        <div class="blog-header">
            <h3>{{title}}</h3>
            <p class="time">{{timestamp}}</p> 
        </div>
        <p class="content">{{content}}</p>
    </button>
</section>