<section>
    <div>
        <div class="blog-header">
            <h3>{{blog.title}}</h3>
            <h4 class="right">{{blog.username}}</h4>
            <p class="time">{{blog.timestamp}}</p> 
        </div>
        <p class="content">{{blog.content}}</p>

        <div class="line"></div>
        <h5 class="padding">Comments</h5>

        {{#each blog.comments}}
        {{> comment}}
        {{/each}}

        <form id="comment-form">
            <div class="comment-form">
                <textarea class="comment-textarea" type="text" id="user-comment" placeholder="Write a comment here" required/></textarea>
            </div>
            <div class="comment-form flex right">
                <button class="comment-button" type="submit">Reply</button>
            </div>
        </form>
    </div>
</section>

<script defer src="/js/blog.js"></script>