<div id="overall">
    <h2>Create a new blog post</h2>

    <section>
        <form id="blog-form">
            <div class="blog-header">
                <label for="user-title"><h3>What's the blog posts title</h3></label>
                <textarea class="comment-textarea" type="text" id="user-title" rows="1" placeholder="Title" required/></textarea>
            </div>
            <div class="comment-form">
                <label for="user-article"><h3>Write your article here:</h3></label>
                <textarea class="comment-textarea" type="text" id="user-article" rows="10" placeholder="Write our analysis, opinions and more" required/></textarea>
            </div>
            <div class="comment-form flex right">
                <button class="comment-button" type="submit">Post</button>
            </div>
        </form>
        
    </section>
</div>
<h3 id="message4"></h3>

<script defer src="/js/create.js"></script>