<button class="reset-button width-100" type="submit"><a href="/create" class="reset-link form-button">Create a blog post</a></button>

<section class="n-a">
    <h3>Nothing here yet!</h3>
</section>

<section>
    <button class="blog">
        <div class="blog-header">
            <h3>Title</h3>
            <p class="time">Timestamp</p> 
        </div>
        <p class="content">Text</p>
    </button>
</section>