<button class="reset-button width-100" type="submit"><a href="/create" class="reset-link form-button-alt margin-1">Create a blog post</a></button>

{{#if blogs}}
    {{#each blogs}}
    {{> their-blog-preview}}
    {{/each}}
{{else}}
    <section class="n-a">
        <h3>Nothing here yet!</h3>
    </section>
{{/if}}

<script defer src="/js/dashboard.js"></script>