<h2>Login</h2>

<form class="login-form">
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login" required/>
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" required/>
  </div>
  <p id="message"></p>
  <div class="form-group">
    <button class="form-button" type="submit">Login</button>
  </div>
</form>

<button id="sign-up"class="reset-button">New to Tech Blog? Create an account today!</button>

<script defer src="/js/login.js"></script>