<h2>Sign up</h2>

<form class="signup-form">
  <div class="form-group">
    <label for="email-signup">Email:</label>
    <input class="form-input" type="text" id="email-signup" required/>
  </div>
  <div class="form-group">
    <label for="password-signup">Password:</label>
    <input class="form-input" type="password" id="password-signup" required/>
  </div>
  <p id="message"></p>
  <div class="form-group">
    <button class="form-button" type="submit">Create an account</button>
  </div>
</form>

<script defer src="/js/signup.js"></script>