
/* a {

}

a:link {

}

a:visited {

}

a:focus {

}

a:hover {

}

a:active {

} */


/* These properties are defined once and used multiple times to ensure one source of truth. */
:root {
    --font: 'Inter', sans-serif;
    --lightgray: #EFEFEF;
    --grayolive: #736D6A;
    --offblack: #333333;
    --primary: #63df05;
}

body {
    background-color: var(--lightgray);
}

/* Had to do this so that the content wouldn't be stuck behind the nav on mobile */
.footer-helper {
    height: 4rem;
}

.reset-button {
    font-family: var(--font);
    font-size: 1rem;
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background-color: white;
    cursor: pointer;
    text-align: center;
}

h1 {
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

h2 {
    font-family: var(--font);
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 0;
}

h3 {
    font-family: var(--font);
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem 0;
}

h4 {
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0;
}

h5 {
    font-family: var(--font);
    color: var(--grayolive);
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0;
}

h6 {
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    padding-right: 0.5rem;
}

p {
    font-family: var(--font);
    font-size: 1rem;
}

section {
    margin-bottom: 1rem;
    border: 1px solid var(--grayolive);
    border-radius: 2px;
}

textarea {
    font-family: var(--font);
    font-size: 1rem;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    align-items: center;
    background-color: white;
    padding: 0 0.625rem;
}
    
.navigation ul {
    display: flex;
    position: fixed;
    font-family: var(--font);
    bottom: 0;
    width: 75%;
    padding: 1rem 12.5%;
    justify-content: space-between;
    background-color: white;
}

main {
    margin-top: 3.5rem;
    padding: 0 0.625rem;
}

.form-group {
    margin: 1rem 0;
}

label {
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    padding: 1rem 0; 
}

.form-input {
    width: 100%;
    padding: 0.8rem 1.2rem;
    margin: .5rem 0;
    box-sizing: border-box;
    border-radius: .5rem;
}

.form-button {
    background-color: var(--primary);
    border: none;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    border-radius: .5rem;
    cursor: pointer;
}

.blog {
    width: 100%;
    text-align: left;
    padding: 0;
    border: none;
    cursor: pointer;
}

.blog-header {
    background-color: var(--primary);
    padding: .5rem;
}

.content,
.padding {
    padding: 1rem 0.5rem;
}

.comment {
    padding: 0 0.5rem 1rem 0.5rem;
}

.time {
    padding: 0 0 .5rem 0;
    font-size: .75rem;
}

.flex {
    display: flex;
}

.right {
    justify-content: flex-end;
}

.line {
    background-color: var(--grayolive);
    height: .5px;
    width: 100%;
}

.comment-form {
    padding: 0.5rem;
}

.comment-textarea {
    width: 99%;
}

.comment-button {
    right: 0.5rem;
    width: 25%;
    background-color: var(--primary);
    border: none;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    border-radius: .5rem;
    cursor: pointer;
}

.n-a {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border: 1px solid var(--grayolive);
    border-radius: 2px;
}

/* Tablet and laptop displays*/
@media screen and (min-width: 769px) and (max-width: 1600px) {
    
    .fixedheadnav {
        display: flex;
        position: fixed;
        width: 100%;
        height: 4.25rem;
        top: 0;
        justify-content: space-between;
        align-items: center;
        background-color: white;
    }
    
    .header {
        width: 48%;
        padding: 0.625rem;
    }

    .navigation ul {
        top: 1rem;       
        right: 0;
        bottom: auto;
        width: 48%;
        padding: 0.625rem 2rem;
    }

    main {
        margin-top: 5rem;
        padding: 0 0.625rem;
    }

    .login-form {
        width: 50%;
    }
}

/* Desktop displays*/
@media screen and (min-width: 1600px) {
    
    .fixedheadnav {
        padding: 0 25%;
        display: flex;
        position: fixed;
        width: 100%;
        height: 4.225rem;
        top: 0;
        justify-content: space-between;
        align-items: center;
        background-color: white;
    }
    
    .header {
        display: flex;
        width: 24%;
        padding: 0.625rem;
    }

    .navigation ul {
        top: 1rem;
        bottom: auto;      
        right: 25%;
        width: 24%;
        justify-content: space-between;
        padding: 0.625rem;
    } 

    main {
        margin-top: 5rem;
        padding: 0 25.5%;
    }

    .login-form {
        width: 100%;
    }

} 